{##
 # Payment actions unit
 #}

{{ widget(this.getButtonWidgetClass(), label=this.getUnitName(), link=this.getActionURL(), style=this.getCSSClass(), value=this.getRefundValue()) }}

<div> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx </div>